    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="alert alert-warning" role="alert"><strong>Vespucci is no longer maintained.</strong></div>
                <h2>About Vespucci</h2>
                <p>Vespucci is a software package for the analysis of spectroscopic 
                data, including Raman, infrared, and UV-Vis spectroscopies. 
                Vespucci provides an intuitive graphical user interface for the
                performance of common spectroscopic data analysis methods with
                no coding required.</p>
                <p>Unlike most software for this purpose, Vespucci is free, 
                open-source (GPL v3) and regularly tested on Windows, Mac OS X 
                and Linux operating systems.</p>
                <p>A <a href="http://openresearchsoftware.metajnl.com/articles/10.5334/jors.91/">
                    manuscript</a> detailing Vespucci has been published in the 
                <i>Journal of Open Research Software.</i>
                <p>Vespucci is a product of the 
                <a href="http://people.wright.edu/ioana.pavel">Sizemore Group</a> in the 
                <a href="http://science-math.wright.edu/chemistry">
                    Wright State University Department of Chemistry</a></p>
            </div>
        </div>
    </section>
