    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Vespucci<br><a href="https://github.com/VespucciProject/Vespucci/releases/latest" class="btn btn-success" role="button">Latest Release <i class="fa fa-download" aria-hidden="true"></i></a>
</h2>
                    <br>
                    <p>Vespucci binary packages can be found
                    on the <a href="https://github.com/VespucciProject/Vespucci/releases">GitHub Releases page</a></p>
                    <p>Vespucci is distributed as a portable package. There is nothing
                    to "install". On Windows, run bin/vespucci.exe. On Mac, right-click
                    the .app file and select open. On linux run vespucci.sh from the root
                    of the file.</p>
                    <p>
                    On Windows, the Microsoft Visual C++ 2015 runtime is required.
                    To install it, run vcredist_x64.exe. It is quite possible that
                    you already have this installed.
                    </p>
                    <p>
                    On Linux, you must have BLAS/LAPACK (which ship with nearly 
                    every distro), HDF5 and Qt 5.5+. We do not guarantee that this
                    will work on every distribution. You may wish to compile Vespucci
                    yourself. Look at the .travis.yml file to see how we do this on Travis CI</p>
                </div>
            </div>
        </div>
    </section>
