    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Vespucci<br><button class="btn btn-success" data-toggle="modal" data-target="#downloadModal">Latest Release <i class="fa fa-download" aria-hidden="true"></i></button>
</h2>
                    <br>
                    <p>Vespucci binary packages can be found
                    on the <a href="https://github.com/VespucciProject/Vespucci/releases">GitHub Releases page</a></p>
                    <p>Vespucci is distributed as a portable package. There is nothing
                    to "install". On Windows, run bin/vespucci.exe. On Mac, right-click
                    the .app file and select open. On linux run vespucci.sh from the root
                    of the file.</p>
                    <h3>System Requirements</h3>
                    <ul>
                    <li>Windows: Windows 7+, 64-bit</li>
                    <li>macOS: macOS 10.7 (Lion) or later</li>
                    <li>Linux: Ubuntu 14.04+ or other distros of similar vintage</li>
                    </ul>
                    <p>On Windows, the Microsoft Visual C++ 2015 runtime is required.
                    To install it, run vcredist_x64.exe. It is quite possible that
                    you already have this installed.
                    </p>
                    <p>
                    On Linux, you must have BLAS/LAPACK (which ship with nearly 
                    every distro), HDF5 and Qt 5.5+. We do not guarantee that this
                    will work on every distribution. You may wish to compile Vespucci
                    yourself. Look at the .travis.yml file to see how we do this on Travis CI</p>
                </div>
            </div>
        </div>
    </section>
<!-- Modal to select platform -->
<div id="downloadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select your platform</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                      <a class="btn btn-default" align="center" href="https://github.com/VespucciProject/Vespucci/releases/download/v1.0.0/Vespucci-1.0.0-a1-w64.zip">
                      <i class="fa fa-windows fa-5x"></i>
                      <p class="tight-text">Windows</p>
                      </a>
                      &nbsp;
                      <a class="btn btn-default" align="center" href="https://github.com/VespucciProject/Vespucci/releases/download/v1.0.0/Vespucci-1.0.0-a1-mac.dmg"> 
                      <i class="fa fa-apple fa-5x"></i>
                      <p class="tight-text">macOS</p>
                      </a>
                      &nbsp;
                      <a class="btn btn-default" align="center" href="https://github.com/VespucciProject/Vespucci/releases/download/v1.0.0/Vespucci-1.0.0a-Linux-amd64.tar.gz">    
                      <i class="fa fa-linux fa-5x"></i>
                      <p class="tight-text">Linux</p>
                      </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
