    <!-- Footer -->
    <footer>
        <div class="container text-center" style="font-size:12px">
            <p>Vespucci is a product of the <a href="http://people.wright.edu/ioana.pavel">Sizemore Group</a> in the <a href="http://science-math.wright.edu/chemistry">Wright State University Department of Chemistry</a></p>
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
            <p><a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale Template</a>
            by <a href="http://startbootstrap.com/">Start Bootstrap</a>.</p>
        </div>
    </footer>
