    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 jumbotron">
                        <img height="150" 
                        src="/img/vespucci_wordmark_white.svg" 
                        alt="Vespucci Wordmark">
                        <p class="intro-text">{{ site.description }}</p>
                        <a href="https://github.com/VespucciProject/Vespucci/releases/latest" 
                             class="btn btn-success" role="button">Download 
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                        <br>
                        <iframe src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
                        <br> 
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
