    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="jumbotron container">
                <div class="container" style="height:25%>
                <img height="35%" width="auto" src="/img/vespucci_wordmark_white.svg" alt="Vespucci">
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                            <p class="intro-text">
                                <a href="https://github.com/VespucciProject/Vespucci/releases/latest" class="btn btn-success" role="button">Download <i class="fa fa-download" aria-hidden="true"></i></a>
                                <br>
                        {{ site.description }}<br></p>
                                <a href="#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
